<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document Analyzer</title>
    <script type="text/javascript" src="{{ url_for('static',filename='boxes.js') }}"></script>
    <link rel="stylesheet" href="../static/resizeStyle.css">
</head>
<body onload="makeResizableDiv('.resizable')">
    <div class="container">
      <div id="image_holder" > 
      <img src="{{ url_for('static',filename='CleanDocumentFirstPage.png') }}"  id="doc_image">
        <div class='resizable'>
            <div class='resizers'>
              <div class='resizer top-left'></div>
              <div class='resizer top-right'></div>
              <div class='resizer bottom-left'></div>
              <div class='resizer bottom-right'></div>
            </div>
        </div>
      </div> 
        <div class='resizable resizable2'>
          <div class='resizers'>
            <div class='resizer top-left'></div>
            <div class='resizer top-right'></div>
            <div class='resizer bottom-left'></div>
            <div class='resizer bottom-right'></div>
          </div>
      </div>
    </div>
</body>
</html>